<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>导入英语资料</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/file.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap-dialog.min.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{/js/bootstrap-dialog.min.js}" type="text/javascript" ></script>
</head>
<body>
<div id="head">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a th:href="@{/back/index}">
                    <img th:src="@{/img/logo.png}"/>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <img th:src="@{/img/top-mouse.png}" class="header-mid"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4><span>E-mail:</span> samson.zying@gmail.com</h4>
            </div>

        </div>
    </div>
</div>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 ">

                <div class="hr-div col-md-offset-3">
                    <button id="clickV" type="button" class="btn btn-primary btn-lg" onclick="_videoClick()">导入视频资料</button>
                    <button id="clickR" type="button" class="btn btn-default btn-lg" onclick="_reviewClick()">导入复习资料</button>
                </div>
                <br>
                <div id="_video" class="col-lg-7 col-md-7 col-sm-7 col-md-offset-1">

                    <form>
                        <div class="form-group">
                            第几期：
                            <input type="number" id="v_stage" class="form-control" placeholder="当前发布的视频期数" required="" autofocus="">
                        </div>

                        <div class="form-group">
                            标题：<input id="v_title" type="text" name="title" class="form-control" required="required" placeholder="标题"/>
                        </div>

                        <div class="form-group">
                            描述：<textarea id="v_description" name="description" class="form-control" required="required" placeholder="描述一下吧"></textarea>
                        </div>

                        <div class="form-group" >
                            是否收费：
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="v_is_free" value="0"/>收费
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="v_is_free" value="1"/>免费
                            </label>
                        </div>

                        <div class="form-group">
                            视频文件：
                            <input id="video" type="file" name="audio" style="display:none" required="required" onchange="fileSelected()">
                            <div class="input-append">
                                <input id="photoCover" class="form-control form-control-xxx" type="text" disabled style="width:85%">
                                <button type="button" class="btn btn-success" onclick="$('#video').click();">浏览</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="fileSize"></div>
                            <div id="fileType"></div>
                            <div id="progressNumber"></div>
                        </div>

                        <div class="form-group">
                            <button id="submitVideo" class="btn btn-primary" type="button">新增</button>
                        </div>
                    </form>

                </div>

                <div id="_review" class="col-lg-7 col-md-7 col-sm-7 col-md-offset-1" style="display: none">

                    <form>
                        <div class="form-group">
                            第几期：
                            <input type="number" id="r_stage" class="form-control" placeholder="当前发布的视频期数" required="" autofocus="">
                        </div>

                        <div class="form-group">
                            标题：<input id="r_title" type="text" name="title" class="form-control" required="required" placeholder="标题"/>
                        </div>

                        <div class="form-group">
                            描述：<textarea id="r_description" name="description" class="form-control" required="required" placeholder="描述一下吧"></textarea>
                        </div>

                        <div class="form-group" >
                            是否收费：
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="r_is_free" value="0"/>收费
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="r_is_free" value="1"/>免费
                            </label>
                        </div>

                        <div class="form-group">
                            内容：
                            <textarea id="r_content" name="description" class="form-control" required="required" placeholder="描述一下吧"></textarea>
                        </div>

                        <div class="form-group">
                            <button id="submitReview" class="btn btn-primary" type="button">新增</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <a th:href="@{/back/logout}" class="label label-danger"><strong>登出</strong> </a>
                <div class="list-group">
                    <a href="#" class="list-group-item active">快速链接</a>
                    <a th:href="@{/back/index}" class="list-group-item">主页</a>
                    <a th:href="@{/back/import/audio}" class="list-group-item">导入教育音频</a>
                    <a th:href="@{/back/import/video}" class="list-group-item">导入家长访谈</a>
                    <a th:href="@{/back/view/audio}" class="list-group-item">查看教育音频</a>
                    <a th:href="@{/back/view/english}" class="list-group-item">查看英语</a>
                    <a th:href="@{/back/view/video}" class="list-group-item">查看家长访谈</a>
                    <a th:href="@{/back/password}" class="list-group-item">更改密码</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>我们在哪</h3>
                <p>
                    <i>地址 :</i> 济南市舜华路1500号山东大学软件园校区
                    <br/>
                    &copy; 2017 OUT studio All right reserved
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>客服</h3>
                <h4><span>E-mail: </span>samson.zying@gmail.com</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">

            </div>


        </div>

    </div>

</div>

<script th:src="@{/js/english.js}"></script>
</body>
</html>
