<!DOCTYPE html>

<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>信息录入后台管理</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div id="head">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a th:href="@{/back/index}">
                    <img th:src="@{/img/logo.png}"/>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <img th:src="@{/img/top-mouse.png}" class="header-mid"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4><span>E-mail:</span> samson.zying@gmail.com</h4>
            </div>

        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row noti-div">
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
                <a th:href="@{/back/import/audio}">
                    <div class="alert alert-warning">
                        <i class="fa fa-headphones fa-4x"></i>
                        <span class="label label-info">Audios</span>
                        <p>
                            录入启蒙音频
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/import/english}">
                    <div class="alert alert-warning">
                        <i class="fa fa-comments fa-4x"></i>
                        <span class="label label-info">English</span>
                        <p>
                            录入英语教学资料
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/import/video}">
                    <div class="alert alert-warning">
                        <i class="fa fa-caret-square-o-right fa-4x"></i>

                        <span class="label label-info">Parents Video</span>
                        <p>
                            录入家长视频
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/import/gandong}">
                    <div class="alert alert-warning">
                        <i class="fa fa-caret-square-o-right fa-4x"></i>

                        <span class="label label-info">Parents Video</span>
                        <p>
                            录入感动心灵
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
                <a th:href="@{/back/view/audio}">
                    <div class="alert alert-warning">
                        <i class="fa fa-space-shuttle fa-4x"></i>
                        <span class="label label-info">View Audios</span>
                        <p>
                            查看所有启蒙音频
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
                <a th:href="@{/back/view/english}">
                    <div class="alert alert-warning">
                        <i class="fa fa-car fa-4x"></i>
                        <span class="label label-info">View English</span>
                        <p>
                            查看所有英语教学资料
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
                <a th:href="@{/back/view/video}">
                    <div class="alert alert-warning">
                        <i class="fa fa-truck fa-4x"></i>
                        <span class="label label-info">View Parent Video</span>
                        <p>
                            查看所有家长视频
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
                <a th:href="@{/back/view/gandong}">
                    <div class="alert alert-warning">
                        <i class="fa fa-truck fa-4x"></i>
                        <span class="label label-info">View Parent Video</span>
                        <p>
                            查看所有感动心灵
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/password}">
                    <div class="alert alert-warning">
                        <i class="fa fa-cog fa-4x"></i>
                        <span class="label label-info">Change Password</span>
                        <p>
                            更改管理员密码
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/logout}">
                    <div class="alert alert-warning">
                        <i class="fa fa-power-off fa-4x"></i>

                        <span class="label label-info">Logout</span>
                        <p>
                            登出
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <a th:href="@{/back/admin}">
                    <div class="alert alert-warning">
                        <i class="fa fa-power-off fa-4x"></i>

                        <span class="label label-info">Admin</span>
                        <p>
                            管理用户
                        </p>
                    </div>
                </a>
            </div>

        </div>


    </div>

</section>

<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>我们在哪</h3>
                <p>
                    <i>地址 :</i> 济南市舜华路1500号山东大学软件园校区
                    <br/>
                    &copy; 2017 OUT studio All right reserved
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h3>客服</h3>
                <h4><span>E-mail: </span>samson.zying@gmail.com</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">

            </div>


        </div>

    </div>

</div>


</body>
</html>
