<!DOCTYPE html>

<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="cyingyo" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>管理员登陆</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript" ></script>
    <link th:href="@{/css/bootstrap-dialog.min.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{/js/bootstrap-dialog.min.js}" type="text/javascript" ></script>
    <link th:href="@{/css/style2.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{/js/user.js}"></script>
</head>
<body>
<div class="login">
    <div class="login-top">

        <h1>管理员登陆</h1>
        <form method="post">
            <input type="text" name="m_account" placeholder="用户名" >
            <input type="password" name="m_password" placeholder="密码" onfocus="this.value = '';" >
            <div class="forgot">
                <i id="tip"></i>
                <a href="#">忘记密码</a>
                <button type="button" id="submitLogin">登录</button>
            </div>
        </form>

    </div>
    <div class="login-bottom">
        <h3> &nbsp;微信 ：&nbsp; xxxx</h3>
    </div>
</div>
<div class="copyright">
    <p>Copyright &copy; 2017.&nbsp;<a href="#">山东大学OUT工作室</a>&nbsp; All rights reserved.</p>
</div>
</body>


</html>
