body{
    -webkit-user-select:initial;
    background-color: #fff;
}
body>a{display: none;}
.ui-header-positive, .ui-footer-positive {
    background-color: #62cfb3;
}
.ui-btn, .ui-btn-lg, .ui-btn-s {color: #62cfb3;}
.ui-list-link > li:after {color: #62cfb3;}
.ui-footer {
    background-color:rgba(255, 255, 255, 0.9);
}
.ui-footer-wechat {
    background-color:rgba(0, 0, 0, 0.8);
}
.ui-footer-wechat a {
    color: #FFFFFF;
}
.ui-footer-btn {background-image: none;}

.upgrade {
    color: #62cfb3;
    vertical-align: middle;
}

.try-lesson {
    background-color: #494e54;
}

.try-lesson img {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 100%;
}

.ui-txt-white {
    padding-left: 10px;
}

.cl::after, .cl::before {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}

.img, img {
    border: medium none;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
}

.btn, .icon_p {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.icon_p {
    background: rgba(0, 0, 0, 0) url("/img/music_sprite.png") no-repeat scroll 0 0 / 64px auto;
}

.icon-player-big {
    height: 64px;
    width: 64px;
}
.is-ready .icon-player-big {
    background-position: 0 -2px;
}
.is-paused .icon-player-big {
    background-position: 0 -70px;
}

.pic {
    background-color: #ccc;
}

.wrapper {
    padding: 0 10px;
}

.playing {
    overflow: hidden;
}

.playing .bg-img {
    background-position: center center;
    background-size: cover;
    filter: blur(10px);
    height: 100%;
    top: 0;
    width: 100%;
    z-index: -2;
}

.playing section.wrapper {
    padding: 0 20px;
    text-align: center;
}

.playing .wrapper .pic {
    background-size: 100% auto;
    display: block;
    height: 0;
    margin: 25px auto 14px;
    padding-bottom: 50%;
    width: 50%;
}

.playing .wrapper .img {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.playing .btn-player {
    left: 50%;
    margin: -32px 0 0 -32px;
    top: 50%;
}

.process-panel {
    color: #b2bac8;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding: 1px 0;
    width: 50%;
}
.process-panel .fl {
    margin-left: -40px;
}
.process-panel .fr {
    margin-right: -40px;
}
.progressbar {
    background-color: #d9dfe5;
    height: 1px;
    margin: 5px auto 0;
}
.playbar {
    background-color: #0894ec;
    height: 100%;
    width: 50%;
}

h4 {
    color: #1a1a1a;
    padding-bottom: 4px;
}

.ui-dialog-bd h4 {
    text-align: center;
}

.ui-btn-group > button {
    color: #62cfb3;
}

div.ui-dialog-bd {
    color: #5f5f5f;
    font-size: 13px;
    text-align: center;
}