body{
    background-color: #efeeea;
}
#container{
    background-color: #efeeea;
}
.component{
    background-color: #F8F6F1;
}
.component_title{
    border-bottom: 1px solid rgba(209,197,182,0.5);
    color: #504b46;
}
div.article{
    border-bottom: 1px solid rgba(209,197,182,0.5);
}
div.article_title{
    color:#4f4a46;
}
span.article_category{
    border: 1px solid rgba(79,74,70,0.4);
    color: #4f4a46;
}
div.article_click{
    background-color: #d1c5b6;
}
body {
    /*font-family: "Arial", "Helvetica", "sans-serif";*/
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

}

.component {
    margin-top: 10px;

}

.component_title {
    padding: 9.5px 0 9.5px 15px;
    font-size: 17px;
}

div.article {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

div.article:last-child{
    border: 0;
}

div.article_thumbnail {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

div.article_desc {
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 70%;

}

div.article_title {
    font-size: 16px;
    /*确保文字在一行，超出部分显示省略号*/
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.article_category {
    margin-top: 2px;

}

span.article_category {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
}

div.article_create_time {
    margin-top: 5px;
    font-size: 12px;
    color:#8A8987;
}

.topic_normal_load {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight:bold;
    font-size:14px;
    color:#888;
    position: relative;
}

.no_more_tip {
    text-align: center;
    color: #888;
    position: relative;
}
/* 加载圈CSS开始 */
.topic_normal_load .loading {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 13px;
    height: 11px;
    width: 11px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    -moz-animation: rotate 0.75s linear infinite;
    -o-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@keyframes rotate
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate /* Safari 和 Chrome */
{
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
/* 加载圈CSS结束 */