
<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/error_style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<!-- //Custom Theme files -->

</head>
<body>
	<!-- main -->
	<div class="agileits-main"> 
		<div class="agileinfo-row">
			<div class="w3top-nav">	
				<div class="w3top-nav-left">	
				</div>	
				<div class="w3top-nav-right">	
					<h6>Contact Us: +1 222 3333 333 </h6> 
				</div>	
				<div class="clear"></div>
			</div>	
			<div class="w3layouts-errortext"> 
				<h2><span>4</span> <span>0</span> <span>4</span> </h2>
				<h3>Sorry!  <br></h3>
				<p class="w3lstext"></p>
	 
			</div>	
		</div>	
	</div>	
	<!-- //main -->
</body>
</html>
