<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outstudio.weixin.common.dao.EnReviewEntityMapper" >
  <resultMap id="BaseResultMap" type="com.outstudio.weixin.common.po.EnReviewEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="stage" property="stage" jdbcType="INTEGER" />
    <result column="is_free" property="is_free" jdbcType="INTEGER" />
    <result column="post_date" property="post_date" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.outstudio.weixin.common.po.EnReviewEntity" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, stage, is_free, post_date, description
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_en_review
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStage" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_en_review
    where stage = #{stage,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from t_en_review
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_en_review
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.outstudio.weixin.common.po.EnReviewEntity" >
    insert into t_en_review (id, title, stage, 
      is_free, post_date, description, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{stage,jdbcType=INTEGER}, 
      #{is_free,jdbcType=INTEGER}, #{post_date,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.outstudio.weixin.common.po.EnReviewEntity" >
    insert into t_en_review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="stage != null" >
        stage,
      </if>
      <if test="is_free != null" >
        is_free,
      </if>
      <if test="post_date != null" >
        post_date,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="is_free != null" >
        #{is_free,jdbcType=INTEGER},
      </if>
      <if test="post_date != null" >
        #{post_date,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.outstudio.weixin.common.po.EnReviewEntity" >
    update t_en_review
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        stage = #{stage,jdbcType=INTEGER},
      </if>
      <if test="is_free != null" >
        is_free = #{is_free,jdbcType=INTEGER},
      </if>
      <if test="post_date != null" >
        post_date = #{post_date,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.outstudio.weixin.common.po.EnReviewEntity" >
    update t_en_review
    set title = #{title,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=INTEGER},
      is_free = #{is_free,jdbcType=INTEGER},
      post_date = #{post_date,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.outstudio.weixin.common.po.EnReviewEntity" >
    update t_en_review
    set title = #{title,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=INTEGER},
      is_free = #{is_free,jdbcType=INTEGER},
      post_date = #{post_date,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>