<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outstudio.weixin.common.dao.UserEntityMapper">
    <resultMap id="BaseResultMap" type="com.outstudio.weixin.common.po.UserEntity">
        <id column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="vip_end_date" property="vip_end_date" jdbcType="TIMESTAMP"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
        openid, nickname, sex, province, city, country, vip_end_date, pid, id, balance
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM t_user
        WHERE openid = #{openid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.outstudio.weixin.common.po.UserEntity">
        INSERT INTO t_user (openid, nickname, sex,
                            province, city, country,
                            vip_end_date, id, pid, balance)
        VALUES (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
                #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
                #{vip_end_date,jdbcType=TIMESTAMP}, #{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
                #{balance,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.outstudio.weixin.common.po.UserEntity">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                openid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="vip_end_date != null">
                vip_end_date,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="balance != null">
                balance,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="vip_end_date != null">
                #{vip_end_date,jdbcType=TIMESTAMP},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.outstudio.weixin.common.po.UserEntity">
        update t_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="vip_end_date != null">
                vip_end_date = #{vip_end_date,jdbcType=TIMESTAMP},
            </if>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
        </set>
        where openid = #{openid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.outstudio.weixin.common.po.UserEntity">
        UPDATE t_user
        SET nickname     = #{nickname,jdbcType=VARCHAR},
            sex          = #{sex,jdbcType=INTEGER},
            province     = #{province,jdbcType=VARCHAR},
            city         = #{city,jdbcType=VARCHAR},
            country      = #{country,jdbcType=VARCHAR},
            vip_end_date = #{vip_end_date,jdbcType=TIMESTAMP},
            id           = #{id,jdbcType=INTEGER},
            pid          = #{pid,jdbcType=INTEGER},
            balance      = #{balance,jdbcType=DECIMAL}
            WHERE openid = #{openid,jdbcType=VARCHAR};

    </update>
</mapper>