
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>
        我要推广
    </title>

    <link rel="stylesheet" th:href="@{/css/article.css}">
    <link rel="stylesheet" href="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/css/frozen.css">
</head>

<body>

<section class="ui-container">

    <div class="playing">
        <section class="wrapper">
            <div class="pic default-img rel">
                <span style="background-image:url('/img/longyue-logo.png');" class="img"></span>
            </div>
        </section>
    </div>

    <div class="ui-whitespace ui-center" style="color: #5f5f5f;height:auto;font-size:13px;margin-bottom: 10px;">

        <div class="page">
            <div class="bd">
                <article class="weui_article">
                    <section>

                        <section>
                            <h3>
                                <span style="font-size: 16px; font-weight: bolder; ">诚邀对教育事业热衷的合作伙伴</span>
                            </h3>

                            <br> <hr> <br>
                            <div style="text-align: center">
                                <table border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
                                    <thead>
                                        <tr>
                                            <th>等级   </th>
                                            <th>加盟   </th>
                                            <th>分红   </th>
                                            <th>推荐奖   </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>省级代理   </td>
                                            <td>10万   </td>
                                            <td>70％   </td>
                                            <td>50％   </td>
                                        </tr>
                                        <tr>
                                            <td>市级代理   </td>
                                            <td>2万  </td>
                                            <td>50％   </td>
                                            <td>50％   </td>
                                        </tr>
                                        <tr>
                                            <td>区级代理   </td>
                                            <td>2千   </td>
                                            <td>20％   </td>
                                            <td>50％   </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br><br>
                                <p>提供健全的平台服务。</p>
                                <p>提供市场推广指导。</p>
                                <p>提供市场推广营销策略。</p>
                                <p>提供市场推广所需宣传单张。</p>

                                <br>
                                <p>有意者请联系客服：0771-2717765</p>
                                <p>13768881214</p>
                                <p>15077107934</p>

                            </div>
                            <br>
                            <p style="font-size: 16px; font-weight: bold;"><em>最终解释权归龙悦网络科技有限公司</em></p>
                        </section>
                    </section>
                </article>
            </div>
        </div>

    </div>

</section>
</body>

<script src="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/lib/zepto.min.js?v=4"></script>
<script src="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/js/frozen.js?v=4"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<link href="/css/weui.min.css" rel="stylesheet"/>
<script src="/js/weui.min.js"></script>
</html>