<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>分销中心</title>
    <link rel="stylesheet" href="/css/distribution.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
</head>

<body>

<div class="weui-tab">

     <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            分销中心
        </div>
    </div>

    <div class="weui-tab__panel">
        <div class="userInfo">
            <div class="headImg"></div>
            <div >
                <div class="nickName">昵称：<span>nickname</span></div>
                <div class="up">上级：<span>总店</span></div>
            </div>
        </div>
        <div class="main ">
            <div class="total">佣金 <span class="money">100.00</span> 元</div>
            <div class="button-sp-area">
                 <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" style="font-size: 18px">提现</a>
            </div>
        </div>


        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
        </div>
    </div>

    <div class="bottom">
    <div class="weui-grids">
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
            </div>
            <p class="weui-grid__label">
                我的团队
            </p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
            </div>
            <p class="weui-grid__label">
                佣金明细
            </p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
            </div>
            <p class="weui-grid__label">
                推广
            </p>
        </a>
    </div>
    </div>

</div>

</body>
</html>