<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>佣金明细</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" href="/css/myTeam.css">
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            佣金明细
        </div>
    </div>

    <div class="weui-tab__panel">
        <div class="member">
            <div class="userInfo">
                <div>
                    <div class="payMoney">付款金额： <span>100.00</span>元</div>
                </div>
            </div>
        </div>

        <div class="member">
            <div class="userInfo">
                <div>
                    <div class="payMoney">付款金额： <span>100.00</span>元</div>
                </div>
            </div>
        </div>

        <div class="member">
            <div class="userInfo">
                <div>
                    <div class="payMoney">付款金额： <span>100.00</span>元</div>
                </div>
            </div>
        </div>

        <div class="member">
            <div class="userInfo">
                <div>
                    <div class="payMoney">付款金额： <span>100.00</span>元</div>
                </div>
            </div>
        </div>

        <div class="member">
            <div class="userInfo">
                <div>
                    <div class="payMoney">付款金额： <span>100.00</span>元</div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>