<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title th:utext="${data.title}" >
        某一id详细信息
    </title>

    <link rel="stylesheet" th:href="@{/css/article.css}">
    <link rel="stylesheet" href="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/css/frozen.css">
    <link href="/css/weui.min.css" rel="stylesheet"/>
</head>

<body>

<section class="ui-container">

    <div class="playing">
        <section class="wrapper">
            <div class="pic default-img rel">
                <span style="background-image:url('/img/audio-bg.jpg');" class="img"></span>
            </div>
        </section>
    </div>

    <div class="ui-whitespace ui-center" style="color: #5f5f5f;height:auto;font-size:13px;margin-bottom: 10px;" th:if="${isVip == true || data.is_free == 1}">

        <div class="page">
            <div class="hd">
                <h1 class="page_title" th:utext="${data.title}">Article</h1>
            </div>
            <hr>
            <div class="bd">
                <article class="weui_article">
                    <section>
                        <section style="margin-top: 10px;margin-bottom: 10px">
                            <p th:utext="${data.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute</p>
                        </section>
                        <hr>
                        <section>
                            <p th:utext="${data.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute</p>
                        </section>
                    </section>
                </article>
            </div>
        </div>

        <div class="try-lesson" th:if="${isVip == false}">
            <a href="/page/view/vip">
                <img src="/img/try_lesson.png" alt="try free lesson">
            </a>
        </div>

    </div>

</section>

<!--<footer class="ui-footer ui-footer-btn" th:if="${isVip == false}">-->
    <!--<ul class="ui-tiled ui-border-t">-->
        <!--<li>-->
            <!--<a href="#todo_charge">-->
                <!--<span class="upgrade">升级账户｜解锁完整课程库</span>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</footer>-->

</body>

<script src="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/lib/zepto.min.js?v=4"></script>
<script src="http://7xnvpc.com2.z0.glb.qiniucdn.com/misc/frozenui/js/frozen.js?v=4"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/weui.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var isVip = /*[[${isVip == true or data.is_free == 1}]]*/ false;
        if (!isVip) {
            weui.dialog({
                title: '提示',
                content: '您无法预览该资料，请升级账户享受所有课程。',
                className: 'classname',
                buttons: [{
                    label: '取消',
                    type: 'default',
                    onClick: function () {
                        window.history.back(-1);
                    }
                }, {
                    label: '升级账户',
                    type: 'primary',
                    onClick: function () {
                        window.location.href = '#todo_charge'
                    }
                }]
            });
        }
    });
</script>

</html>